*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #999999;
}
.topbox{
  background-color: white;
  width: 90vh;
  margin: auto;
  margin-bottom: 35px;
  margin-top: 35px;
}
.button{
  height: 50px;
  width: 120px;
  border: none;
  margin-bottom: 30px;
  margin-left: 30px;
}
.one{
  background-color: red;
  color: white;
  font-size: 25px;
}
.two{
  background-color: #4d91ea;
  color: white;
  font-size: 25px;
}
.bottombox{
  width: 90vh;
  background-color: white;
  margin: auto;
  padding-top: 25px;
}
.image{
  width: 85vh;
  height: 300px;
  background-color: #4A4A4A;
  padding: 25px;
  margin: auto;
}
.font {
  color: white;
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  padding-top: 75px;
}
p{
  padding: 25px;
  font-size: 16px;
  font-family: Arial;
  line-height: 30px;
}
.foot{
  height: 75px;
  background-color: #111;
  font-family: Arial;
  font-size: 25px;
  text-align: right;
  padding-top: 20px;
}
.apple{
  color: white;
  text-decoration: none;
  padding-right: 75px;
}
.google{
  color: white;
  text-decoration: none;
  padding-right: 100px;
}
